@import url(./helper.css);



@media (min-width: 1440px) {

    .container {
        max-width: 1311px;
    }

}


@media screen and (max-width: 1440px) {

}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
html{
    color: #000000;
}
body{
  margin-top: 150px;
}
.my_input{
    background: #F4F8FB;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 16px;
    transition: .3s;
    border: 1px solid #F4F8FB;
font-size: 16px;
line-height: 19px;

}
.my_input:hover{
  border: 1px solid #D6DCE1;
}
.my_input_err{
  border: 1px solid red!important;
}
.my_input:focus{
  border: 1px solid #BEE6ED;
}
.my_input::placeholder{
  color: #D6DCE1;
  font-size: 16px;
line-height: 19px;
}

.color_grey_BO{
    color: #9BA7B0;
}
.color_grey_A2{
   color: #A2A2A2;
}
.color_grey_7E{
    color: #73797E;
}
.page_nav{
  margin-bottom: 64px;
}

.Primary1 {
  background: #BEE6ED;
  border-radius: 125px;
  padding: 16px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
.Primary1:hover{
  background: #ABCFD5;
}
.Primary2{
  background: #BEE6ED;
border-radius: 125px;
padding: 12px 0;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;
cursor: pointer;
transition: .3s;
}

.Primary2:hover{
  background: #ABCFD5;
}
.secondary1{
  background: #F1F5F8;
  border-radius: 125px;
  text-align: center;
  padding: 16px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: .3s;
}
.secondary1:hover{
  background: #EAF0F4;
}
.Primary3{
  background: #FFFFFF;
  border-radius: 125px;
  text-align: center;
  padding: 16px 0;
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.Primary3:hover{
  background: #F1F5F8;
}
.more_btn_slider{
  position: absolute;
  bottom: 64px;
  left: 64px;
  width: 180px;
}
.my_96_pt{
  padding-top: 96px;
}

/* HEADER */

.fixed {
    position: fixed;
    margin: auto;
    display: flex;
    top: 0;
    justify-content: center;
    width: 100%;
    z-index: 2;
    padding: 9.5px 0 16px;
    border-bottom: 1px solid #E1E5E9;
    background: white;
  }

  header .first_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 9.5px;
  }
  header   .second_panel {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.logo_list_2 li:first-child{
margin-right: 32px;
}
.bag {
    position: relative;
}
.bag .items_counter{
    position: absolute;
    top: -4px;
    right: -9px;
    width: 15px;
    height: 15px;
    background: #373737;
    color: white;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
}
  .first_line{
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 200vw;
    background: #E1E5E9;
    left: -33%;
  }

  .header_socials li{
    margin-right: 20px;
  }
  .header_socials li:last-child{
    margin-left: 40px;
  }
  .header_socials img{
    width: 20px;
  }

/* HEADER */


/* footer */

footer{
  background: #32373A;
  padding: 64px 0 24px;
  color: white;
}

.logo_footer{
  width: 155px;
}
.footer_menu{

}

/* footer */







/* .main_slider_container{
    border-radius: 0px 0px 16px 16px;
    background: #000000;
    opacity: 0.5;
    width: 100%;
} */

.my_card{
  position: relative;
  min-height: 540px;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 27px;
}
.my_card img{
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
    object-fit: cover;
    object-position: left;
}


.slider-main{
  margin: 0 -27px;
}
.btns_container_main{
  position: absolute;
  bottom: 65px;
  right: 65px;
  display: flex;
  align-items: center;
}

.main_slider_container{
  position: relative;
}

.slider-toggle{
width: 48px;
height: 48px;
opacity: 0.3;
align-items: center;
border: 1px solid #FFFFFF;
border-radius: 24px;
}

.slider-toggle-partners{
  width: 48px;
height: 48px;
align-items: center;
background: #F1F5F8;
border-radius: 24px;
cursor: pointer;
}

.img_cover{
  position: absolute;
  top: 0;
  background: black;
  opacity: .5;
  height: 100%;
  width: 100%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.slider-toggle{
  cursor: pointer;
}
.my_card .h{
  z-index: 1;
    color: white;
    position: relative;
    font-weight: 500;
font-size: 64px;
line-height: 80px;
padding-top: 65px;
padding-left: 64px;
}

.inProgress{
  background-color: white;
  height: 2px;
}

.progressBarContainer{
  position: absolute;
  bottom: 17%;
  right: 21%;
    width: 120px;
}

.progressBarContainer div{
  position: absolute;
  top: 0;
  width: 100%;
}

.grey_line{
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

  .pagination{
color: white;
margin: 0 8px;
  }


/* //EVENTS/////////////////////////////////////// */

.events_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.events_list li{
  border: 1px solid #E1E5E9;
border-radius: 16px;
padding: 32px;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.cat_container{
  flex-wrap: wrap;
}

.cat_container .cat_item{
  background: #F1F5F8;
border-radius: 24px;
padding: 4px 12px;
color: #73797E;
}

.events_line{
  height: 1px;

background: #F3F3F3;
width: 100%;
}

.cost_container div {
  width: 50%;
}
/* //EVENTS/////////////////////////////////////// */



/* //videocources/////////////////////////////////////// */


.videocources_list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.videocources_list li{
  border: 1px solid #E1E5E9;
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videocources_list img{
  border-radius: 16px;
}
.videocources_list .pad{
  padding: 0 32px;
}
/* //videocources/////////////////////////////////////// */


/* //partners/////////////////////////////////////// */

.card_partners{
  margin: 0 12px;
  padding: 33px 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E4E4E4;
border-radius: 16px;
}

.slider-partners{
  margin: 0 -12px;
}
.slider-toggle-partners:hover svg path{
  transition: .3s;
  stroke: #9BA7B0;
}
/* //partners/////////////////////////////////////// */




/* //back_container/// */

.new_back_container{
  background: #F1F5F8;
  padding: 64px 0;
}

.main_feedback_container{
  background: #FFFFFF;
  border-radius: 24px;
  padding: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.main_feedback_container .h {
  width: 70%;
}
.main_feedback_container .p {
  width: 90%;
}

.main_feedback_inputs_ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
/* //back_container/// */

.main_feedback_container textarea{
min-height: 127px;
}




/* /  events_page//////////////////////////////////////////////////////// */
.events_filter_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.format_btn{
  background: #F1F5F8;
  border-radius: 24px;
  padding: 6px 16px;
  text-align: center;
  cursor: pointer;
}
.format_btn_active{
  background: #BEE6ED!important;
  font-weight: 500;
}
.dawnload_btn{
  border: 1px solid #33A2B6;
border-radius: 125px;
padding: 9px 24px;
cursor: pointer;
height: 46px
}

.events_cards li{
  background: #FFFFFF;
border: 1px solid #E1E5E9;
border-radius: 16px;
padding: 32px;
height: 100%;
}

.events_cards .first_column{
  width: 66%;
}

.events_cards .second_column{
  width: 20%;
  padding-left: 24px;
  border-left: 1px solid #E1E5E9;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second_column .cost{

}