@import url(./helper.css);



@media (min-width: 1440px) {

    .container {
        max-width: 1311px;
    }
    /* .container_2{
      max-width: 1511px;
    } */

}
@media screen and (max-width: 1445px) {
  .second_column_order_lust{
    width: 70%!important;
  }
}

@media screen and (max-width: 1440px) {
  
  .second_column_order_lust{
    width: 63%!important;
  }
  .order_card{
    width: 26%!important;
  }
  .order_item{
    width: 80%;
  }
  .order_item_text {
    width: 54%!important;
}

}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
html{
    color: #000000;
}
body{
  margin-top: 150px;
}
.my_input{
    background: #F4F8FB;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 16px;
    transition: .3s;
    border: 1px solid #F4F8FB;
font-size: 16px;
line-height: 19px;

}
.my_input:hover{
  border: 1px solid #D6DCE1;
}
.my_input_err{
  border: 1px solid red!important;
}
.my_input:focus{
  border: 1px solid #BEE6ED;
}
.my_input::placeholder{
  color: #D6DCE1;
  font-size: 16px;
line-height: 19px;
}
.color_D6DCE1{
  color: #D6DCE1
}
.color_ABCFD5{
  color: #ABCFD5;
}
.color_grey_BO{
    color: #9BA7B0;
}
.color_grey_A2{
   color: #A2A2A2;
}
.color_grey_7E{
    color: #73797E;
}
.color_grey_B1{
  color: #B1B1B1;
}
.page_nav{
  margin-bottom: 64px;
}
.w-180{
  width: 180px;
}
.Primary1 {
  background: #BEE6ED;
  border-radius: 125px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
.Primary1:hover{
  background: #ABCFD5;
}
.Primary2{
  background: #BEE6ED;
border-radius: 125px;
padding: 12px 24px;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;
cursor: pointer;
transition: .3s;
}

.Primary2:hover{
  background: #ABCFD5;
}
.secondary1{
  background: #F1F5F8;
  border-radius: 125px;
  text-align: center;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: .3s;
}
.secondary1:hover{
  background: #EAF0F4;
}

.secondary2{
  background: #F1F5F8;
  border-radius: 125px;
  text-align: center;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: .3s;
}
.secondary2:hover{
  background: #EAF0F4;
}
.Primary3{
  background: #FFFFFF;
  border-radius: 125px;
  text-align: center;
  padding: 16px 24px;
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.Primary3:hover{
  background: #F1F5F8;
}
.more_btn_slider{
  position: absolute;
  bottom: 64px;
  left: 64px;
  width: 180px;
}
.my_96_pt{
  padding-top: 96px;
}

/* modals */

.my-modal-content{
padding: 48px;
position: relative;
border-radius: 16px;

}
.my-modal-dialog{
  min-width: 644px;
}
.close_modal{
  position: absolute;
  top: 48px;
  right: 48px;
  cursor: pointer;
}
.modal_textarea{
  min-height: 127px;
}
.success_icon{
  width: 56px;
}
.forget_pas{
  cursor: pointer;
}
.modal_enter_foem_1_prev{
  cursor: pointer;
}
.ur_cont{
  background: #F1F5F8;
  border-radius: 24px;
  padding: 4px;
  width: fit-content;
}
.ur_cont_item{
  padding: 8px 12px;
  border-radius: 23px;
  color: #D6DCE1;
  width: fit-content;
  cursor: pointer;
}
.ur_cont_active{
  background: #FFFFFF;
  color: #000000;
}
.modal_reg_inputs_list {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 16px;
margin-top: 16px;
}

/* modals */

/* /////////////////////////*CHECKBOX */

/* для элемента input c type="checkbox" */
.btns_tets button{
  margin-right: 12px;
  margin-bottom: 12px;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #73797E;
  border-radius: 4px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  background-image: url('../images/checkbox_active.svg');
  background-size: auto;

}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

/* /////////////////////////*CHECKBOX */

/* HEADER */

.fixed {
    position: fixed;
    margin: auto;
    display: flex;
    top: 0;
    justify-content: center;
    width: 100%;
    z-index: 2;
    padding: 9.5px 0 16px;
    border-bottom: 1px solid #E1E5E9;
    background: white;
  }

  header .first_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 9.5px;
  }
  header   .second_panel {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.logo_list_2 li:first-child{
margin-right: 32px;
}
.bag {
    position: relative;
}
.bag .items_counter{
    position: absolute;
    top: -4px;
    right: -9px;
    width: 15px;
    height: 15px;
    background: #373737;
    color: white;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
}
  .first_line{
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 200vw;
    background: #E1E5E9;
    left: -33%;
  }

  .header_socials li{
    margin-right: 20px;
  }
  .header_socials li:last-child{
    margin-left: 40px;
  }
  .header_socials img{
    width: 20px;
  }

/* HEADER */


/* footer */

footer{
  background: #32373A;
  padding: 64px 0 24px;
  color: white;
}

.logo_footer{
  width: 155px;
}
.footer_menu{

}

/* footer */







/* .main_slider_container{
    border-radius: 0px 0px 16px 16px;
    background: #000000;
    opacity: 0.5;
    width: 100%;
} */

.my_card{
  position: relative;
  min-height: 540px;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 27px;
}
.my_card img{
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
    object-fit: cover;
    object-position: left;
}


.slider-main{
  margin: 0 -27px;
}
.btns_container_main{
  position: absolute;
  bottom: 65px;
  right: 65px;
  display: flex;
  align-items: center;
}

.main_slider_container{
  position: relative;
}

.slider-toggle{
width: 48px;
height: 48px;
opacity: 0.3;
align-items: center;
border: 1px solid #FFFFFF;
border-radius: 24px;
}

.slider-toggle-partners{
  width: 48px;
height: 48px;
align-items: center;
background: #F1F5F8;
border-radius: 24px;
cursor: pointer;
}

.img_cover{
  position: absolute;
  top: 0;
  background: black;
  opacity: .5;
  height: 100%;
  width: 100%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.slider-toggle{
  cursor: pointer;
}
.my_card .h{
  z-index: 1;
    color: white;
    position: relative;
    font-weight: 500;
font-size: 64px;
line-height: 80px;
padding-top: 65px;
padding-left: 64px;
}

.inProgress{
  background-color: white;
  height: 2px;
}

.progressBarContainer{
  position: absolute;
  bottom: 17%;
  right: 21%;
    width: 120px;
}

.progressBarContainer div{
  position: absolute;
  top: 0;
  width: 100%;
}

.grey_line{
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

  .pagination{
color: white;
margin: 0 8px;
  }


/* //EVENTS/////////////////////////////////////// */

.events_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.events_list li{
  border: 1px solid #E1E5E9;
border-radius: 16px;
padding: 32px;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.cat_container{
  flex-wrap: wrap;
}

.cat_container .cat_item{
  background: #F1F5F8;
border-radius: 24px;
padding: 4px 12px;
color: #73797E;
}

.events_line{
  height: 1px;

background: #F3F3F3;
width: 100%;
}

.cost_container div {
  width: 50%;
}
/* //EVENTS/////////////////////////////////////// */



/* //videocources/////////////////////////////////////// */


.videocources_list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.videocources_list li{
  border: 1px solid #E1E5E9;
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videocources_list img{
  border-radius: 16px;
}
.videocources_list .pad{
  padding: 0 32px;
}
/* //videocources/////////////////////////////////////// */


/* //partners/////////////////////////////////////// */

.card_partners{
  margin: 0 12px;
  padding: 33px 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E4E4E4;
border-radius: 16px;
}

.slider-partners{
  margin: 0 -12px;
}
.slider-toggle-partners:hover svg path{
  transition: .3s;
  stroke: #9BA7B0;
}
/* //partners/////////////////////////////////////// */




/* //back_container/// */

.new_back_container{
  background: #F1F5F8;
  padding: 64px 0;
}

.main_feedback_container{
  background: #FFFFFF;
  border-radius: 24px;
  padding: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.main_feedback_container .h {
  width: 70%;
}
.main_feedback_container .p {
  width: 90%;
}

.main_feedback_inputs_ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
/* //back_container/// */

.main_feedback_container textarea{
min-height: 127px;
}




/* /  events_page//////////////////////////////////////////////////////// */
.events_filter_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.format_btn{
  background: #F1F5F8;
  border-radius: 24px;
  padding: 6px 16px;
  text-align: center;
  cursor: pointer;
}
.format_btn_active{
  background: #BEE6ED!important;
  font-weight: 500;
}
.dawnload_btn{
  border: 1px solid #33A2B6;
border-radius: 125px;
padding: 9px 24px;
cursor: pointer;
height: 46px
}

.events_cards li{
  background: #FFFFFF;
border: 1px solid #E1E5E9;
border-radius: 16px;
padding: 32px;
height: 100%;
}

.events_cards .first_column{
  width: 66%;
}

.events_cards .second_column{
  width: 20%;
  padding-left: 24px;
  border-left: 1px solid #E1E5E9;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.videocources_filter_container{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.videocources_cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.videocources_list_img_container{
  position: relative;
  min-height: 240px;
}
.videocources_list_img_container .img{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}
.videocources_list_img_container .h{
  position: relative;
  color: white;
  padding-left: 32px;
  padding-top: 32px;
  z-index: 2;

}
.videocources_list_img_container .lector img{
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-bottom: 0;
}
.videocources_list_img_container .lector .h{
  color: white;
  padding-left: 8px;
  padding-top: 0;
}
.videocources_list_img_container .lector{
  position: relative;
  padding-left: 32px;
  padding-top: 12px;
  z-index: 2;
}
.videocources_list_img_container .fade{
background: black;
opacity: .5;
height: 100%;
width: 100%;
position: absolute;
z-index: 1;
border-radius: 16px;
}

.videocources_list_page .cat_item {
width: fit-content;
}

.alphavit{
  letter-spacing: 22px;
  overflow-wrap: anywhere;
  margin-bottom: 70px;
}
.letter .line{
width: 100%;
height: 1px;
background: #E4E4E4;
}

.lectors_list .cources{
  background: #F1F5F8;
  border-radius: 24px;
  padding: 4px 12px;
}

.lectors_list img{
  border-radius: 50%;
  width: 96px;
  height: 96px;
}
.lectors_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.lectors_list li{
  border: 1px solid #E1E5E9;
border-radius: 16px;
padding: 32px;
height: 100%;
}


.svedeniya_container{
  display: flex;
  gap: 48px;
  margin-top: 72px;
}

.svedeniya_container .first_column{
width: 100%;
}
.svedeniya_container .cab_item_link{
  background: white;
  border-radius: 8px;
  padding: 8px 12px;
  color: #9BA7B0;
  cursor: pointer;
}

.svedeniya_container .cab_item_link_active{
  background: #F4F8FB;
  color: #000000;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 500;
}
.position_sticky_cab{
  position: sticky;
  top: 160px;
}
.position_sticky_cab .cab_item_link{
  background: white;
  border-radius: 8px;
  padding: 8px 12px;
  color: #9BA7B0;
  cursor: pointer;
  width: 23%;
}
.position_sticky_cab .cab_item_link_active{
  background: #F4F8FB;
  color: #000000;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 500;
  width: 23%;
}
.svedeniya_container .second_column{
  width: 291%;
  margin-top: -340px
}
.file_card_list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.file_card_list li{
padding: 16px;
border: 1px solid #E1E5E9;
border-radius: 16px;
height: 100%;
}

.left_menu{
  min-height: 286px;
}
.special_data{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}


.event_container{
  display: flex;
  gap: 24px;
}
.event_container .first_column{
  width: 70%;
}
.event_container .img_container{
  position: relative;
  min-height: 480px;
  border-radius: 16px;
  overflow: hidden;
}
.event_container .img_container img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event_container .img_container .fade{
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .6;
}
.event_container .img_container .h{
  position: relative;
  color: white;
  z-index: 2;
  padding: 12px 48px 12px 48px;
}

.event_container .img_container .p{
  position: relative;
  color: white;
  z-index: 2;
  padding-left: 48px;
}
.event_container .img_container .label{
  background: rgba(241, 245, 248, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 24px;
  padding: 4px 12px;
  color: white;
}
.event_container .img_container .labels{
  padding: 48px 48px 0 48px;
  z-index: 2;
  position: relative;
  flex-wrap: wrap;
  gap: 8px;
}

.event_container .lectors{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.event_container .lectors li{
  display: flex;
  padding: 6px 8px;
  border: 1px solid #E1E5E9;
  border-radius: 32px;
  align-items: center;
}

.event_container .lectors li img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.event_container .media_list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.event_container .media_list li{
  min-height: 315px;
}

.event_container .events_meet_list{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.event_container .events_meet_list li{
  display: flex;
  padding: 6px 8px;
  border: 1px solid #E1E5E9;
  border-radius: 32px;
  align-items: center;
}
.event_container .events_meet_list li img{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.event_container .second_column{
  width: 30%;
}
.event_container .cost_container{
  border: 1px solid #D6DCE1;
border-radius: 16px;
padding: 24px;
}
.event_container .cost_container div{
  width: 100%;
}
.event_location .location{
width: 30px;
}
.blue_underline{
  text-decoration-line: underline;
color: #33A2B6;
}

.event_location .docs_list{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.event_location .docs_list li{
  padding: 6px 8px;
  border: 1px solid #E1E5E9;
  border-radius: 32px;
  cursor: pointer;
}

.event_location .partners_list li{
display: flex;
align-items: center;
}
.event_location .partners_list li img{
  width: 56px;
  }

.event_location{
  background: #F1F5F8;
  border-radius: 16px;
  padding: 24px;
}

.lector_img{
  border-radius: 50%;
}
.my_label{
  background: #EFF3F5;
border-radius: 24px;
padding: 4px 8px;
color: #73797E;
}

.grey_line_text{
  width: 100%;
  border-top: 1px solid #E1E5E9;
  padding-top: 40px;
  margin-top: 40px;
}

.events_list_slider li {
  border: 1px solid #E1E5E9;
border-radius: 16px;
padding: 24px;
margin: 0 12px;
}

.events_list_slider{
  margin: 0 -12px;
}

.videocources_list_slider img{
  border-radius: 16px;
}

.videocources_list_slider .cat_container {
padding: 0 32px;
}
.videocources_list_slider .pad {
  padding: 0 32px;
  }
.videocources_list_slider{
  margin: 0 -12px;
}
.videocources_list_slider li{
  border: 1px solid #E4E4E4;
border-radius: 16px;
margin: 0 12px;
}


.inputs_container_personal_area{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  position: relative;
}

.password_save_btn{
  padding: 12px 24px;
  text-align: center;
  transition: .3s;
  border-radius: 125px;
  cursor: pointer;
  width: fit-content;
}

.btn_disabled{
  background: #F4F8FB;
  color: #D6DCE1;
  transition: .3s;
  cursor: default;
}


.events_list_pers_cab {
  display: grid;
  gap: 24px;
}
.events_list_pers_cab .events_list_pers_cab_li {
  padding: 32px;
  border: 1px solid #D6DCE1;
  border-radius: 16px;
}

.events_list_pers_cab .label{
  border-radius: 24px;
  width: fit-content;
  padding: 4px 12px;
  color: white;
}
.green_back{
  background: #5AD381;
}
.grey_back{
  background: #D6DCE1;
}
.events_list_pers_cab .line {
  width: 100%;
  height: 1px;
  background: #E1E5E9;
  margin: 20px 0;
}

.events_list_pers_cab .data_list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.videos_list_pers_cab .img{
  width: 130px;
  border-radius: 8px;
  overflow: hidden;
}



.my_ul {
  position: relative;
}

.my_ul_event .img_container{
  position: relative;
  min-height: 480px;
  border-radius: 16px;
  overflow: hidden;
}
.my_ul_event .img_container img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my_ul_event .img_container .fade{
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .6;
}
.my_ul_event .img_container .h{
  position: relative;
  color: white;
  z-index: 2;
  padding: 12px 48px 12px 48px;
}

.my_ul_event .img_container .p{
  position: relative;
  color: white;
  z-index: 2;
  padding-left: 48px;
}
.my_ul_event .img_container .label{
  background: rgba(241, 245, 248, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 24px;
  padding: 4px 12px;
  color: white;
}
.my_ul_event .img_container .labels{
  padding: 48px 48px 0 48px;
  z-index: 2;
  position: relative;
  flex-wrap: wrap;
  gap: 8px;
}


.cab_event_btns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cab_event_btns .cab_event_btn{
  padding-bottom: 16px;
  border-bottom: 2px solid #D6DCE1;
  cursor: pointer;
}
.cab_event_btns .active{
  padding-bottom: 16px;
  border-bottom: 2px solid black;
}

.cab_event_my_ul-1-list{
display: grid;
gap: 24px;
}
.cab_event_my_ul-1-list li {
  border: 1px solid #D6DCE1;
border-radius: 16px;
padding: 24px;
display: flex;
justify-content: space-between;
align-items: center;
}

.cab_event_my_ul-2-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}


.cab_event_my_ul-3-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.cab_event_my_ul-3-list li{
  padding: 24px;
  border: 1px solid #E1E5E9;
  border-radius: 16px;
}

.order_container{
  display: grid;
  /* width: 100%; */
  /* grid-template-columns: repeat(2, 1fr); */
}

.order_container .second_column{
    /* position: absolute;
    top: 0; */
}

.order_card{
  padding: 24px;
  background: #F1F5F8;
  /* width: 30%; */
  width: 24%;

  border-radius: 16px;
  position: fixed;
  top: 270px;
}

.order_item li{
  padding: 24px;
  border: 1px solid #E1E5E9;
  border-radius: 16px;
  /* width: 68%; */
  width: 76%;

  margin-bottom: 16px;
  position: relative;
}

.counter_order_service{
  padding: 6px 24px;
  background: #F1F5F8;
  border-radius: 24px;
  width: fit-content;
  height: fit-content;
}
.counter_order_service svg{
  cursor: pointer;
}

.order_item_text{
  width: 56%;
}

.order_item{
  width: 82%;
}
.order_item .close{
      position: absolute;
      right: 32px;
      top: 32px;
}

.order_card .line{
height: 1px;
background: #E1E5E9;
width: 100%;
}

.order_item_text img{
  border-radius: 8px;
  width: 112px;
}

.members{
  padding: 4px 12px;
  background: #F1F5F8;
  border-radius: 24px;
  width: fit-content;
}
.group_list li{
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #E1E5E9;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 16px;
}

.group_list .arrow{
  position: absolute;
  right: 24px;
  top: 31px;
  transform: rotate(180deg);
}

.redact {
  cursor: pointer;
  width: fit-content;
}

.group_member_list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.ur_face_container{
  background: #F1F5F8;
  border-radius: 24px;
  width: fit-content;
  padding: 4px;
}

.ur_face_item{
  color: #D6DCE1;
  padding: 8px 12px;
  width: fit-content;
  cursor: pointer;
}

.ur_face_item_active{
  background: #FFFFFF;
  border-radius: 23px;
  color: #000000;
}

.second_column_order_lust{
  width: 60%;
}

.slider-order .card_order{
  padding: 32px;
  border: 1px solid #E1E5E9;
  border-radius: 16px;
  margin: 0 8px;
  height: 100%;

}
.slider-order{
  margin: 0 -8px;
}
.slider-order .slick-track{
  display: flex;
}

.slider-order .slick-list{
  padding:0 25% 0 0;
}
.card_order .cost{
  white-space: nowrap;
}

.card_order img{
  width: 112px;
  border-radius: 8px;
}


/* ACCORDION/////////////////// */
.FAQ{
  padding-bottom: 80px;
  position: relative;
}

.accordion-main-faq {
  background: #FFFFFF;
  border: 1px solid #E1E5E9;
border-radius: 18px;
margin-bottom: 12px;
position: relative;
cursor: pointer;
}

.accordion-item-FAQ{
  padding: 24px 32px;
}

.accordion-body{
  padding-left: 32px;
}
.FAQ_item_collapse {
  padding-bottom: 24px;
}


.accordion-main-faq svg{
  position: absolute;
  right: 28px;
  top: 26px;
  transition: .3s;
}

.rotate{
  transition: .3s;
  transform: rotate(45deg);
}
.FAQ_back{
  position: absolute;
  left: 0;
  top: -22%;
  z-index: -1;
}
/* ACCORDION/////////////////// */


.contacts_label{
  padding: 6px 12px;
  background: #EFF3F5;
  border-radius: 24px;
}

.contacts_grid_1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.map {
  border-radius: 16px;
  overflow: hidden;
  margin:40px 0 96px;
}
.contacts_grid_2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.contacts_grid_2 .contacts_grid_2_li{
  padding: 40px;
  background: #EFF3F5;
  border-radius: 16px;
  height: 100%;
}

.contacts_grid_3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}